<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>CEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="buscaCep()">
  <ion-item>
    <ion-input slot="start" type="number" name="cep" [(ngModel)]="cep"></ion-input>
    <ion-icon (click)="buscaCep()" slot="end" name="search"></ion-icon>
  </ion-item>
</form>

<ion-card *ngIf="result">
  <ion-card-header>
    <ion-card-subtitle>{{result.cep}}</ion-card-subtitle>
    <ion-card-title>{{result.localidade}} - {{result.uf}}</ion-card-title>
  </ion-card-header>
    <ion-button href="previsao/{{result.localidade}}">
      <ion-icon slot="start" name="cloud"></ion-icon>
      Previsão do tempo
    </ion-button>

</ion-card>

</ion-content>
